In [5]:
#Project 1

girls_name = ['Samantha','Jada','Jane','Claire','Elizabeth','Mary','Susan','Waje','Taibat','Lilian']

girls_age = [17,16,17,18,16,18,17,20,19,17]

girls_height = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5]

girls_score = [80,85,70,60,76,66,87,95,50,49]

boys_name = ['Charles','Jude','James','kelvin','Biodun','Wale','Kunle','Matthew','Tom','Kayode']

boys_age = [19,16,18,17,20,19,16,18,17,19]

boys_height = [5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7]

boys_score = [74,87,75,68,66,78,87,98,54,60]

print('Name | Age | Height | Score')

for m in range(len(girls_name)):
    print(girls_name[m],girls_age[m],girls_height[m],girls_score[m])

Name | Age | Height | Score

TypeError: len() takes exactly one argument (4 given)